<ActionBar title="Breed Details">
    <NavigationButton text="Back" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout style="background-color: white">
    <GridLayout rows="70, *, 40, *" columns="*">
        <Label row="0" [text]="breedname |titlecase" class="font-weight-bold" style="font-size: 33; text-align: center; color: black;"></Label>
        
        <GridLayout row="1">
                <ActivityIndicator busy="true"></ActivityIndicator>
                <Image [src]="breedimgUrl" stretch="aspectFit"></Image>
        </GridLayout>
        
        <Label row="2" text="Sub breeds of  {{breedname |titlecase}}" style="font-size: 18; padding-left: 10;color: black;"></Label>

        <GridLayout row="3">
        <ListView [items]="subBreed" class="list-group" separatorColor="white">
            <ng-template let-item="item">
                <Label [text]="item |titlecase" style="font-size: 16; color: black;"></Label>
            </ng-template>
        </ListView>
        <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
    </GridLayout>
    </GridLayout>
</StackLayout>