<ActionBar title="Dog Breed List">
</ActionBar>

<GridLayout style="background-color: white">
    <StackLayout row="auto, auto" columns="*">

        <SearchBar row="0" hint="Search for a Breed" 
            [text]="search_text" (textChange)="search_onTextChanged($event)" (clear)="search_onClear($event)" (submit)="search_onSubmit($event)" 
            textFieldBackgroundColor="white" textFieldHintColor="black" style="border-radius: 5; height: auto; color:black; background-color: white;">
        </SearchBar>

        <GridLayout row="1">
            <ListView [items]="TEMP_breedlist" class="breed-list" separatorColor="white">
                <ng-template let-item="item">
                    <FlexboxLayout flexDirection="row" class="breed-list__item" (Tap)="onBreedTap(item)">
                        <Label [text]="item |titlecase" class="breed-list__item-content"></Label>
                    </FlexboxLayout>
                </ng-template>
            </ListView>

            <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
        </GridLayout>

    </StackLayout>
</GridLayout>